{% macro details_line(detail, caption) %}

    <div class="row">
        <div class="col">
            {% if detail is defined and detail is not empty  %}
                {{ detail }}
            {% else %}
                <span class="text-muted">N/A</span>
            {% endif %}
            <span class="text-muted"> / {{ caption }}</span>
        </div>
    </div>
{% endmacro %}

{% extends 'home/frontend/base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block header %}{% endblock %}

{% block main %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <nav class="navbar navbar-horizontal navbar-expand-md">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">User Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Comments (0)</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Discography</a>
            </li>
          </ul>
        </nav>


        <div class="row mt-3">
            <h2 class="text-muted"><a href="{{ path('view_artist', {'id': tape.getMainArtist.id}) }}"><strong>{{tape.getMainArtist.name}}</strong></a></h2>
        </div>

        <div class="row">
            <h1>{{ tape.name }}</h1>
        </div>

        <div class="row">

            <div class="col-4">
                <img src="/uploads/covers/{{ tape.cover }}" width="100%" alt="cover">
            </div>

            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Average Score</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <span class="h1 badge bg-success"><strong>{{ tape.averageScore }}</strong></span>
                            </div>
                            <div class="col-auto">
                                Based on {{ reviews | length }} Review(s)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Details</h4>
                    </div>
                    <div class="card-body">
                        {{_self.details_line( tape.ReleaseDate|date('d/m/Y') , 'Release Date')}}
                        {{_self.details_line(tape.format, 'Format')}}
                        {{_self.details_line(tape.labelName, 'Label')}}
                        {{_self.details_line(tape.genreNames, 'Genres')}}
                        {{_self.details_line(tape.tagNames, 'Tags')}}
                    </div>
                </div>
            </div>
        </div>

        <hr>

        {{ form_start(form) }}
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto">
                            <div class="rounded-circle bg-secondary p-3 d-flex justify-content-center align-items-center" style="width: 50px; height: 50px"><span class="text-white"><strong>{{ app.user.getInitials }}</strong></span></div>
                        </div>
                        <div class="col-2">
                            <div class="row">
                                <div class="col">
                                    {{ app.user.getFullName }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ form_widget(form.score) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        {{ form_widget(form.description) }}
                    </div>

                    <div class="row mt-2">
                        <div class="col"></div>
                        <div class="col-auto">
                            {{ form_widget(form.post) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}


        {% for r in reviews %}
        <div class="row">
            <div class="card">
                <div class="card-header my-3">
                    <div class="card-title">
                        <div class="row">
                            <div class="col-auto">
                                <div class="rounded-circle bg-secondary p-3 d-flex justify-content-center align-items-center" style="width: 50px; height: 50px"><span class="text-white"><strong>{{ r.author.getInitials }}</strong></span></div>
                            </div>
                            <div class="col-2">
                                <div class="row">
                                    <div class="col">
                                        {{ r.author.getFullName }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="badge bg-success"><strong>{{ r.score }}</strong></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {{ r.description }}
                </div>
            </div>
            
        </div>
        {% endfor %}

    </div>
    <div class="col-2">
        {% if geniusSearch is defined %}
        <div class="card mt-3">
            <div class="card-body">
            {{ geniusSearch | raw }}
        </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
